<div class="page-header">
  <h2>Profile</h2>
</div>


<%= form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this profile from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
       <%= @user.id %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :term_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
       <%= f.collection_select(:term_id, Term.all, :id, :name, {prompt: "-- Select a Term --"}, :class => "form-control" ) %>      
    </div>
  </div>
  <div class="form-group">
    <%= f.label :department_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:department_id, Department.all, :id, :name, {prompt: "-- Select a Department --"}, :class => "form-control" ) %>      
    </div>
  </div>
  <div class="form-group">
    <%= f.label :first_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :middle_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :middle_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :phone_number, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time_zone, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, { default: "Eastern Time (US & Canada)" }, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rate, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :rate  , :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
