<%= form_for @filter, :as => "filter", :url => time_sheet_index_path , :method => "get", :html => { :id => 'filter-form' } do |f| %>

<%= f.hidden_field :showing_as %>

<div class="page-header">

   <div class="row">

    <div class="col-xs-5">
       <div class="form-group">
          <%= f.label :department_id, :class => "col-sm-3 control-label" %>
          <div class="col-sm-7">
            <%= f.collection_select(:department_id, Department.all, :id, :name, {include_blank: "-- All Departments --"}, :class => "form-control", :onchange => ("$('#filter-form').submit()") ) %>      
          </div>
        </div>
    </div>
    <div class="col-xs-5">
       <div class="form-group">
          <%= f.label :employee_id, :class => "col-sm-3 control-label" %>
          <div class="col-sm-7">
            <%= f.collection_select(:user_id, @users, :id, :full_name, {include_blank: "-- All Employees --"}, :class => "form-control" ) %>      
          </div>
        </div>
    </div>

  </div>

  <br />

  <div class="row">

    <div class="col-xs-5">

       <div class="form-group">
          <%= f.label :start_date, "From", :class => "col-sm-3 control-label" %>
          <div class="col-sm-7">
            <div class='input-group date datetimepicker' data-date-format="YYYY/MM/DD">            
                <%= f.text_field :start_date, :class => "form-control" %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>            
                </span>
            </div>            
          </div>
        </div>
    </div>
    <div class="col-xs-5">
       <div class="form-group">
          <%= f.label :end_date, "To", :class => "col-sm-3 control-label" %>
          <div class="col-sm-7">
            <div class='input-group date datetimepicker' data-date-format="YYYY/MM/DD">            
                <%= f.text_field :end_date, :class => "form-control" %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>            
                </span>
            </div>            
          </div>
        </div>
    </div>

    <div class="col-xs-2">
      <button class="btn btn-primary">Filter</button>
    </div>

  </div>

</div>

<% end %>

<div class="row">
  <div class="col-xs-9">    
    <%= link_to new_time_sheet_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Add New Entry
    <% end %>  
  </div>

 <!--  <div class="col-xs-3">
      Showing as:
      <div id="btn-group-show-as" class="btn-group">
        <button type="button" class="btn btn-default" value="list">List</button>
        <button type="button" class="btn btn-default" value="group">Group</button>          
      </div>
    </div> -->

</div>

<br/>


<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Comments</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @time_clock_entries) do |time_clock| %>
            <td><%= time_clock.user.full_name %></td>
            <td><%= time_clock.start_time.strftime("%b %e, %Y %Z") %></td>
            <td><%= time_clock.start_time.strftime("%I:%M %P") %></td>
            <td><%= time_clock.end_time.strftime("%I:%M %P") %></td>
            <td><%= time_clock.comments %></td>            
        <td><%= link_to 'Edit', edit_time_sheet_path(time_clock) %></td>
        <td><%= link_to 'Destroy', time_sheet_path(time_clock), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
