<div class="page-header">
  <%= link_to new_intern_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Intern
  <% end %>
  <h1>Listing interns</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Department</th>
            <th>Term</th>
            <th>Position title</th>
            <th>Full name</th>           
            <th>Phone number</th>
            <th>Personal email</th>
            <th>School email</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @interns) do |intern| %>
            <td><%= intern.department.name %></td>
            <td><%= intern.term.name %></td>
            <td><%= intern.position_title %></td>
            <td>
              <%= intern.first_name %>
              <%= intern.last_name %>
            </td>
            <td><%= intern.phone_number %></td>
            <td><%= intern.personal_email %></td>
            <td><%= intern.school_email %></td>
            <td><%= link_to 'Show', intern %></td>
        <td><%= link_to 'Edit', edit_intern_path(intern) %></td>
        <td><%= link_to 'Destroy', intern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
